<!-- Common JavaScript libraries -->
<script th:src="@{/js/library/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/library/popper.min.js}"></script>
<script th:src="@{/js/library/bootstrap.min.js}"></script>
<script th:src="@{/js/library/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/js/library/waves.js}"></script>
<script th:src="@{/js/library/sidebarmenu.js}"></script>
<script th:src="@{/js/library/sticky-kit.min.js}"></script>
<script th:src="@{/js/library/custom.min.js}"></script>
